*{
	box-sizing:border-box;
}
body{
	background-image:url('../images/template.png');
	background-repeat:no-repeat;
	background-position:top center;
	min-height:7522px;
	cursor: zoom-out;
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
	line-height:1.2;
}
.wrapper-fluid{
	width:100%;
	padding:0 15px;
}
.wrapper{
    width: 1055px;
    margin: 0 auto;
}
.wrapper-small{
	width: 846px;
    margin: 0 auto;
	border:1px solid #92d9d2;
	padding:20px;
	border-radius:8px;
	min-height:670px;
}
.f-container{
	display:flex;
	justify-content:space-between;
	margin-right:-17px;
}
.f-item{
	padding:0 15px;
}
.f-wrap-wrap{
	flex-wrap:wrap;
}
.box-50{
	width:50%;
}
.box-30{
	width:30%;
}

.box-20{
	width:20%;
}
.box-25{
	width:25%;
}
.box-80{
	width:80%;
}
.box-70{
	width:70%;
}
.box-75{
	width:75%;
}
.box-16{
	width:16.66%;
}
.box-100{
	width:100%;
}
.text-center{
	text-align:center;
}
.hidden-overflow{
	overflow:hidden;
}
header{
	height:108px;
	border-top:solid 8px #92d9d2;
}
header .logo img{
	max-width:160px;
}
.banner{
	min-height:801px;
	background-image:url('../images/banner.jpg');
	background-size:cover;
	background-position:center bottom;
}
.about{
	height:260px;
	padding-top:74px;
}
.ceo{
	padding-top:60px;
}
.speciality{
	text-align:center;
	min-height:340px;
	background:rgb(255 0 0 / 55%);
}
.card-score{
	min-height:230px;
}
.card-text{
	padding-top:47px;
	min-height:160px;
}
.services{
	padding-top:40px;
}
.section-title{
	
}
.section-title h3{
	margin-bottom:10px;
}
.section-title h2{
	min-height:110px;
}
.card-product{
	min-height:553px;
	margin-bottom:20px;
}
.nav-wrapper a.current
{
	color:#033a99;
}
.nav-wrapper a{
	display:inline-block;
	line-height:100px;
	text-decoration:none;
	color:#05183a;
	margin-left:
}
.nav-wrapper a:hover{
	color:#033a99;
}
footer{
	height:500px;
	background:#033a99;
	margin-top:2607px;
}
.about-section h3{
	max-width:100%;
	font-size:28px;
	font-weight:600;
	color:#1665ab;
	margin-bottom: 15px;
}
.about-section p{
	font-size:100%;
}